#root {
  max-width: 1280px; /* Limita el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 2rem; /* Añade espacio interno alrededor del contenido */
  text-align: center; /* Centra el texto dentro del contenedor */
}

.logo {
  height: 6em; /* Define la altura del logo */
  padding: 1.5em; /* Añade espacio interno alrededor del logo */
  will-change: filter; /* Optimiza el rendimiento al indicar que el filtro puede cambiar */
  transition: filter 300ms; /* Define una transición suave para el cambio de filtro */
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa); /* Aplica un efecto de sombra al pasar el ratón */
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa); /* Aplica un efecto de sombra específico para el logo de React */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg); /* Comienza desde 0 grados */
  }
  to {
    transform: rotate(360deg); /* Termina en 360 grados (rotación completa) */
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear; /* Aplica la animación de rotación infinita a enlaces específicos */
  }
}

.card {
  padding: 2em; /* Añade espacio interno alrededor del contenido de la tarjeta */
}

.read-the-docs {
  color: #888; /* Define un color gris claro para el texto */
}
